@import '../../_App.scss';

.search_location_div{
     border-bottom: 1px solid $color-grey;
     width:100%;
     display:flex;
     
     p{
        font-weight: bold;
        font-size: 14px;
     }
    &:hover{
         background-color: $color-grey;
    }
}