
.filtered-result-list{
      
     width:100%;
     background-color: #ffffff;
     display:flex;
     flex-direction: column;
     box-shadow:0px 0px 8px #ddd;
     border-radius:10px;
     overflow-y:scroll;
     margin-top:0.5rem;
     max-height:50vh;

     div{
        display:flex;
        gap:1rem;
        padding:10px 20px;
    }
    .no_data{
        width:100%;
        padding:12px 20px;
        background-color:#efefef;
        font-weight:bold;
        font-size: 14px;
    } 
}